/* https://developer.mozilla.org/fr/docs/Web/CSS/box-shadow */

*{  /*  le * est pour tous les éléments */   /*  ceci est un style generique on les mets au debut du code css  */
 overflow:auto ; /* pour que les div s'adapte automatiquement lorsque les éléments des div débordent */
                  /* dans le cas de ect exercice c'est la div blanche qui va s'adapter lorsque */

}
body{background-color: #8BA1BB;
    font-family: Arial, Helvetica, sans-serif;
  }
  .centre{text-align:center ;  
          width: 100%;} /* largeur de 100% par rapport au contenant , pour l'image elle fera 100% da la largeur de son contenant le div*/
  p.categorie{ 
           background-color: black;
           color: white;
           display: inline-block;/* sur la meme ligne que l'élément prcedent */
           margin-top: -20px;/* le paragraphe sera a cheval au dessus de la div qui le contient a partir du haut , en rapport a l'élément précédent */
           padding: 8px 18px;
           margin-bottom: 0;
           font-weight: bold;
           font-size: 16px;
          
          

  }     
  div.categorie{
    margin-bottom:0px;
    margin-top: 0px;
    overflow: visible;/* pour voir le paragraphe a cheval au dessus */
  }

div.contenu{
          background-color: white ;
          margin: 60px 10% 80px 10%;/* -10 pour chevaucher avec le div blanc du dessous*/
          padding: 0px 30px 30px 30px;
          min-width: 350px;/*pour eviter que le tableau sorte de l'image lorsque l'on diminue la largeur de la page*/
          box-shadow: 0px 0px 5px 7px rgba(0,0,0,0.5);/* https://developer.mozilla.org/fr/docs/Web/CSS/box-shadow */
          overflow: visible; /* pour voir le paragraphe a cheval au dessus */
        
      }
div.separateur{background-color: black;
          width: 100px;
          height: 1px;
         margin-left: auto;
         margin-right: auto;

}     
          
h1{text-align:center ;  }

div.description{text-align: center;}
p.description{text-align: center;
            max-width: 400; /* pour avoir le texte sur 2 ligne je limite la largeur max */
            /* background-color: yellow;*/
            display: inline-block;
          font-size: 18px;}
h3.image{image-orientation: flip;}

div.infos{position: relative;top: 0px;} /* position relative , le div peut etre deplacé sans modifier la position des objets qui sont apres le div */
img.infos{display: block;
    min-height: 200px;/* lorsque l'image se charge l'espace reservé a l'image sera de 200px cela evite de voir les elements qui suivent l'image se positionner a l'emplacement de l'image */
    background-color: grey;/* lorsque l'image se charge l'espace reservé a l'image sera de couleur gris pour faire comprendre que a cet emplacement il ya une image en cours de chargement
    max-height: 400px; /* pour limiter la hauteur de l'image quand l'ecran est grand*/
    object-fit: cover;

}                            
table.infos{position: absolute; /* la table en etant position absolue la div qui contient l'image et la table ne fait plus que la dimension de l'image
                                  la table peut etre déplacée sur l'image , c'est comme si la table était sur la div mais dans 1 autre calque */
    bottom: 0;
    width: 100%;
    color: white; 
    background-color: #6C829DC0; /*  couleur(6caracteres)+2 caracteres pour l'opacite AAAAAA & FF  pour l'opacite */
    height: 80px;
  }
table.infos th {text-align: center;
              font-size: 16;
              vertical-align: bottom ; /* texte aligné en bas de la cellule*/
              padding-bottom:4px ;} /* separe les elements , je croix , pas sur*/
table.infos td  {text-align: center;
              font-size: 14;
              vertical-align: top ;}  /* texte aligné en haut de la cellule*/ 
 /*-----------------------------------------------------------------------------------------------------------------------*/             
 div.colonne {
     width: 45%;
     margin-top: 20px ;
 }
 div.colonne h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  border-bottom: 2px solid #6C829D;
  padding-bottom:5px;
}

 div.colonne1 {          
  display: inline-block;
                /* margin-right:10% ; */
            }

div.colonne2 {
  /* display: inline-block;  */
  float: right; /* affiche toi a droite de la colonne1 si la colonne1 fait 50% de la largeur*/
  
    
            }


div.ingredients p {
  text-align: center;
  /*text-transform: uppercase;*/
  font-size: 14px;
   border: 1px solid #6C829D; 
  /* border-radius: 10% 30% 50% 70%;
  border-radius: 10px 100px / 120px; */
  border-radius: 30px;
  padding:1px;
  margin-top: 1px;
  margin-bottom: 1px;
  /*display: inline-block;*/
}

  /*-------------------------------------------------------------------------------*/
  div.preparation{
    
  }
  table.tablepreparation td{
    font-size: 14;
    vertical-align: top ;  /* texte aligné en haut de la cellule*/ 
    
  }
  
  table.tablepreparation p.numero{ /* table.td  */
    background-color: #6C829D ;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top:4px;
    box-sizing:border-box;
    border-radius:50%;
    margin:0;
    }
    table.tablepreparation td{
      vertical-align:top ;
    }
    table.tablepreparation td.preparation_etape{
      font-size: 12px;
      padding-left: 10px;
      padding-bottom: 10px;
    }
    table.tablepreparation tr{
      height:30px ; /* hauteur de lignes de la table*/
    }

   
